In [1]:
import pandas as pd
import numpy as np
import unicodedata
import re
import nltk
from nltk.corpus import stopwords
import prepare
import acquire

from requests import get
from bs4 import BeautifulSoup
import os

# Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.
Define a function named tokenize. It should take in a string and tokenize all the words in the string.

Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove

In [2]:
def basic_clean(text):
    text = text.lower()
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8')
    text = re.sub(r'[^a-z0-9\'\s]', '', text)
    return text

In [3]:
def tokenize(text):
    tokenize = nltk.tokenize.ToktokTokenizer()
    text = tokenize.tokenize(text, return_str=True)
    return text

In [4]:
def stem(text):
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in text.split()]
    stemmed = ' '.join(stems)
    return stemmed

In [5]:
def lemmatize(text):
    wnl = nltk.stem.WordNetLemmatizer()
    lems = [wnl.lemmatize(word) for word in text.split()]
    lemmatized = ' '.join(lems)
    return lemmatized

In [16]:
def remove_stopwords(text, extra_words=[], exclude_words=[]):
    stopwords_ls = stopwords.words('english')
    stopwords_ls = stopwords_ls + extra_words
    [stopwords_ls.remove(word) for word in exclude_words]
    words = text.split()
    filtered_words = [word for word in words if word not in stopwords_ls]
    stopped = ' '.join(filtered_words)
    return stopped

In [7]:
original = "Paul Erdős and George Pólya were influential Hungarian mathematicians who contributed \
a lot to the field. Erdős's name contains the Hungarian letter 'ő' ('o' with double acute accent), \
but is often incorrectly written as Erdos or Erdös either by mistake or out of typographical necessity"
original

"Paul Erdős and George Pólya were influential Hungarian mathematicians who contributed a lot to the field. Erdős's name contains the Hungarian letter 'ő' ('o' with double acute accent), but is often incorrectly written as Erdos or Erdös either by mistake or out of typographical necessity"

In [9]:
clean = basic_clean(original)
clean

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [11]:
tokened = tokenize(clean)
tokened

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [12]:
stemmed = stem(tokened)
stemmed

"paul erdo and georg polya were influenti hungarian mathematician who contribut a lot to the field erdo ' s name contain the hungarian letter ' o ' ' o ' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

In [14]:
lemmatized = lemmatize(tokened)
lemmatized

"paul erdos and george polya were influential hungarian mathematician who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

In [18]:
remove_stopwords(lemmatized)

"paul erdos george polya influential hungarian mathematician contributed lot field erdos ' name contains hungarian letter ' ' ' ' double acute accent often incorrectly written erdos erdos either mistake typographical necessity"

In [23]:
extra_words=['double']
exclude_words=['the', 'o']

In [24]:
remove_stopwords(lemmatized, extra_words, exclude_words)

"paul erdos george polya influential hungarian mathematician contributed lot the field erdos ' name contains the hungarian letter ' o ' ' o ' acute accent often incorrectly written erdos erdos either mistake typographical necessity"

In [39]:
news_df = acquire.get_news_articles()

In [40]:
news_df

,title,content,category
0,"British artist live-streams burning 1,000 of h...","British artist Damien Hirst burnt 1,000 painti...",technology
1,Musk sells $1 million worth of 'Burnt Hair' pe...,The world's richest person Elon Musk earned a ...,technology
2,"HCL disapproves dual employment, says moonligh...","Speaking on the issue of moonlighting, HCL Tec...",technology
3,We do not support dual employment: Infosys on ...,Infosys CEO Salil Parekh spoke on the moonligh...,technology
4,"Wipro's net employee addition falls to 605, at...",IT services firm Wipro on Wednesday said its n...,technology
...,...,...,...
95,I'm speechless: Tanushree on Sajid Khan's part...,"Actress Tanushree Dutta said she's ""speechless...",entertainment
96,Sona calls Farhan Akhtar 'shameless' over his ...,Singer Sona Mohapatra took to Twitter and crit...,entertainment
97,Big B was to star in 'King Uncle' opposite me:...,'Aashiqui' actress Anu Aggarwal revealed that ...,entertainment
98,Never thought being good-looking would be nega...,Actor Sidharth Malhotra said he never thought ...,entertainment
99,Can never please all: Shaheen on negative comm...,Actress Alia Bhatt's sister Shaheen Bhatt has ...,entertainment

In [41]:
codeup_df = acquire.get_blog_articles()

In [42]:
codeup_df

,title,content
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo..."
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
2,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
3,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
4,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
5,What is Cloud Computing and AWS?,With many companies switching to cloud service...

# For each dataframe, produce the following columns:

    title to hold the title

    original to hold the original article/post content

    clean to hold the normalized and tokenized original with the stopwords removed.

    stemmed to hold the stemmed version of the cleaned data.

    lemmatized to hold the lemmatized version of the cleaned data.

In [43]:
news_df['clean'] = news_df.content.apply(lambda x: prepare.basic_clean(x)).apply(lambda x: prepare.tokenize(x)).apply(lambda x: prepare.remove_stopwords(x))
news_df['stemmed'] = news_df.clean.apply(lambda x: prepare.stem(x))
news_df['lemmatized'] = news_df.clean.apply(lambda x: prepare.lemmatize(x))
news_df.rename(columns={'content' : 'original'}, inplace=True)
news_df

,title,original,category,clean,stemmed,lemmatized
0,"British artist live-streams burning 1,000 of h...","British artist Damien Hirst burnt 1,000 painti...",technology,british artist damien hirst burnt 1000 paintin...,british artist damien hirst burnt 1000 paint p...,british artist damien hirst burnt 1000 paintin...
1,Musk sells $1 million worth of 'Burnt Hair' pe...,The world's richest person Elon Musk earned a ...,technology,world ' richest person elon musk earned millio...,world ' richest person elon musk earn million ...,world ' richest person elon musk earned millio...
2,"HCL disapproves dual employment, says moonligh...","Speaking on the issue of moonlighting, HCL Tec...",technology,speaking issue moonlighting hcl technologies s...,speak issu moonlight hcl technolog said doesnt...,speaking issue moonlighting hcl technology sai...
3,We do not support dual employment: Infosys on ...,Infosys CEO Salil Parekh spoke on the moonligh...,technology,infosys ceo salil parekh spoke moonlighting de...,infosi ceo salil parekh spoke moonlight debat ...,infosys ceo salil parekh spoke moonlighting de...
4,"Wipro's net employee addition falls to 605, at...",IT services firm Wipro on Wednesday said its n...,technology,services firm wipro wednesday said net employe...,servic firm wipro wednesday said net employe a...,service firm wipro wednesday said net employee...
...,...,...,...,...,...,...
95,I'm speechless: Tanushree on Sajid Khan's part...,"Actress Tanushree Dutta said she's ""speechless...",entertainment,actress tanushree dutta said ' speechless film...,actress tanushre dutta said ' speechless filmm...,actress tanushree dutta said ' speechless film...
96,Sona calls Farhan Akhtar 'shameless' over his ...,Singer Sona Mohapatra took to Twitter and crit...,entertainment,singer sona mohapatra took twitter criticised ...,singer sona mohapatra took twitter criticis fa...,singer sona mohapatra took twitter criticised ...
97,Big B was to star in 'King Uncle' opposite me:...,'Aashiqui' actress Anu Aggarwal revealed that ...,entertainment,' aashiqui ' actress anu aggarwal revealed vet...,' aashiqui ' actress anu aggarw reveal veteran...,' aashiqui ' actress anu aggarwal revealed vet...
98,Never thought being good-looking would be nega...,Actor Sidharth Malhotra said he never thought ...,entertainment,actor sidharth malhotra said never thought goo...,actor sidharth malhotra said never thought goo...,actor sidharth malhotra said never thought goo...
99,Can never please all: Shaheen on negative comm...,Actress Alia Bhatt's sister Shaheen Bhatt has ...,entertainment,actress alia bhatt ' sister shaheen bhatt reac...,actress alia bhatt ' sister shaheen bhatt reac...,actress alia bhatt ' sister shaheen bhatt reac...

In [44]:
codeup_df['clean'] = codeup_df.content.apply(lambda x: prepare.basic_clean(x)).apply(lambda x: prepare.tokenize(x)).apply(lambda x: prepare.remove_stopwords(x))
codeup_df['stemmed'] = codeup_df.clean.apply(lambda x: prepare.stem(x))
codeup_df['lemmatized'] = codeup_df.clean.apply(lambda x: prepare.lemmatize(x))
codeup_df.rename(columns={'content' : 'original'}, inplace=True)

In [45]:
codeup_df

,title,original,clean,stemmed,lemmatized
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo...",many people deciding coding bootcamp computer ...,mani peopl decid code bootcamp comput scienc d...,many people deciding coding bootcamp computer ...
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...,codeup excit launch first divers equiti inclus...,codeup excited launch first diversity equity i...
2,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...,codeup named 2022 diversity inclusion award wi...,codeup name 2022 divers inclus award winner sa...,codeup named 2022 diversity inclusion award wi...
3,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...,deciding transition tech career big step signi...,decid transit tech career big step signific co...,deciding transition tech career big step signi...
4,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio...",codeup strongly values diversity inclusion hon...,codeup strongli valu divers inclus honor ameri...,codeup strongly value diversity inclusion hono...
5,What is Cloud Computing and AWS?,With many companies switching to cloud service...,many companies switching cloud services implem...,mani compani switch cloud servic implement clo...,many company switching cloud service implement...