In [61]:
from requests import get
from bs4 import BeautifulSoup
import os
import re
import pandas as pd

In [7]:
url = 'https://codeup.com/data-science/math-in-data-science/'
headers = {'User-Agent': 'Codeup Data Science'}
response = get(url, headers=headers)

In [8]:
print(response.text[:400])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="pingback" href="https://codeup.com/xmlrpc.php" />

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><script id="diviarea-loader">window.DiviPopupData=wi

In [9]:
soup = BeautifulSoup(response.content, 'html.parser')

In [23]:
soup.find('h1')

In [26]:
article = soup.find('div', id='main-content')
article.text

'\n\n\n\n\n\nWhat are the Math and Stats Principles You Need for Data Science?\nOct 21, 2020 | Data Science\n\n\nComing into our Data Science program, you will need to know some math and stats. However, many of our applicants actually learn in the application process – you don’t need to be an expert before applying! Data science is a very accessible field to anyone dedicated to learning new skills, and we can work with any applicant to help them learn what they need to know. But what “skills” do we mean, exactly? Just what exactly are the data science math and stats principles you need to know?\nWhat are the main math principles you need to know to get into Codeup’s Data Science program?\n\n\nAlgebra\nDo you know PEMDAS and can you solve for x? You will need to be or become comfortable with the following:\xa0\n\nVariables (x, y, n, etc.)\nFormulas, functions, and variable manipulations (e.g. x^2 = x + 6, solve for x).\nOrder of evaluation: PEMDAS: parentheses, exponents, then multiplication, division, addition, and subtraction\nCommutativity where a + b = b + a\nAssociativity where a + (b + c) = (a + b) + c\nAdding and subtracting matrices\nA conceptual understanding of exponential growth/decay- things can increase at an increasing rate\n\nDescriptive Statistics\nKnow what a min, max, mode, median, and average are. Have a conceptual understanding that stats/probability is about trying to quantify uncertainty.\nData Visualization\nKnow what a scatterplot is and how to read a barplot.\nHow to Learn and Expand on These Concepts\nThere are a number of great resources out there to teach you these and similar concepts. Khan Academy is a great starting place for data science math! If you want to know what exactly we assign our applicants, you’ll just have to apply!\n\xa0\nWhat about once you’re in Codeup?\n\n\nWhat You Won’t Do\nDo we do any mathematical proofs for concepts or perform derivations? No.\xa0\nDo we do any calculus and probability calculating by hand? No.\nAre we transforming equations, where we cancel out units or terms and do lots of algebraic gymnastics? No\nWhat You Will Do\nWill we have Python solve our linear algebra problems for us? Yes\nWill we have Python calculate probabilities, the area under a curve, and the slope of a line for us? Yes\nWill we have Python do all of the calculus for us? Yes\n\xa0\nSee, the data science math and stats slice of the pie is certainly doable. If you like problem-solving and are ready to challenge yourself, you’ll love data science! If you are interested in learning about data science, just apply! Our Admissions Manager can work with you to get you where you need to be starting from where you are now. Let us help you get there so you can launch a great new career.\n\n\n\n\n\n\n\n\nOur ProgramsCloud Administration\nFull Stack Web Development\nData Science\n\n\n\n\n\nLatest Blog Articles\nDiversity Equity and Inclusion Report\nCodeup Honored as SABJ Diversity and Inclusion Award Winner\nHow Can I Finance My Career Transition?\nTips for Women Beginning a Career in Tech\nWhat is Cloud Computing and AWS?\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n'

In [27]:
with open('article.txt', 'w') as f:
    f.write(article.text)

In [28]:
def get_article_text():
    if path.exists('article.txt'):
        with open('article.txt') as f:
            return f.read()
        
    url = url = 'https://codeup.com/data-science/math-in-data-science/'
    headers = {'User-Agent': 'Codeup Data Science'}
    response = get(url, headers=headers)
    soup = BeautifulSoup(response.text)
    article = soup.find('div', id='main-content')
    
    with open('article.txt', 'w') as f:
        f.write(article.txt)
        
    return article.txt

In [62]:
url1 = 'https://codeup.com/codeup-news/dei-report/'
url2 = 'https://codeup.com/codeup-news/diversity-and-inclusion-award/'
url3 = 'https://codeup.com/featured/financing-career-transition/'
url4 = 'https://codeup.com/tips-for-prospective-students/tips-for-women/'
url5 = 'https://codeup.com/cloud-administration/cloud-computing-and-aws/'
url_list = [url1, url2, url3, url4, url5]
headers = {'User-Agent': 'Codeup Data Science'}
articles = []

In [63]:
for url in url_list:
    response = get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    content = soup.find('div', id='main-content').text
    articles.append({'title' : soup.title.string, 'content' : content})

In [64]:
pd.DataFrame(articles)

,title,content
0,Diversity Equity and Inclusion Report - Codeup,\n\n\n\n\n\nDiversity Equity and Inclusion Rep...
1,Codeup Honored as SABJ Diversity and Inclusion...,\n\n\n\n\n\nCodeup Honored as SABJ Diversity a...
2,How Can I Finance My Career Transition? - Codeup,\n\n\n\n\n\nHow Can I Finance My Career Transi...
3,Tips for Women Beginning a Career in Tech - Co...,\n\n\n\n\n\nTips for Women Beginning a Career ...
4,What is Cloud Computing and AWS? - Codeup,\n\n\n\n\n\nWhat is Cloud Computing and AWS?\n...

'Diversity Equity and Inclusion Report - Codeup'

{'title': 'Diversity Equity and Inclusion Report - Codeup',
 'content': '\n\n\n\n\n\nDiversity Equity and Inclusion Report\nOct 7, 2022 | Codeup News\n\n\nCodeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an organization, we’ve implemented policies and grown our DEI efforts. We are extremely proud of the progress we’ve made as a staff and Codeup community, and we recognize there is more to learn. This report captures some of the ways that we’ve lived our value of Cultivating Inclusive Growth, and how we will continue doing so as we look to the future.\nWe wanted to shine a light on the demographics of our students and staff, and in particular how that compares to the tech industry as a whole. How we collect, organize, and share employee demographic data is informed by standards set by the Equal Employment Opportunity Commission (EEOC).\nWe are proud to celebrate how we’ve grown and are motivated and committed to do more and be better. To view the report visit the link here, or download it below.\n\n\n\n\n\n\n\n\n\nOur ProgramsCloud Administration\nFull Stack Web Development\nData Science\n\n\n\n\n\nLatest Blog Articles\nDiversity Equity and Inclusion Report\nCodeup Honored as SABJ Diversity and Inclusion Award Winner\nHow Can I Finance My Career Transition?\nTips for Women Beginning a Career in Tech\nWhat is Cloud Computing and AWS?\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n'}

In [9]:
url = 'https://codeup.com/blog/'
headers = {'User-Agent': 'Codeup Data Science'}
response = get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

In [10]:
linklist = soup.find_all('h2')

In [11]:
str(linklist[0])

'<h2 class="entry-title"><a href="https://codeup.com/codeup-news/dei-report/">Diversity Equity and Inclusion Report</a></h2>'

In [12]:
regexp = r'(http.+)"'
re.findall(regexp, str(linklist[0]))[0]

'https://codeup.com/codeup-news/dei-report/'

In [67]:
def get_blog_articles():
    url = 'https://codeup.com/blog/'
    headers = {'User-Agent': 'Codeup Data Science'}
    response = get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    articles = []
    regexp = r'(http.+)"'

    for link in soup.find_all('h2')[0:6]:
        blog_url = re.findall(regexp, str(link))[0]
        response2 = get(blog_url, headers=headers)
        soup2 = BeautifulSoup(response2.content, 'html.parser')
        content = soup2.find('div', id='main-content').text.strip()
        articles.append({'title' : soup2.title.string, 'content' : content})
    return articles

In [66]:
df = pd.DataFrame(get_blog_articles())
df

https://codeup.com/codeup-news/dei-report/
https://codeup.com/codeup-news/diversity-and-inclusion-award/
https://codeup.com/featured/financing-career-transition/
https://codeup.com/tips-for-prospective-students/tips-for-women/
https://codeup.com/cloud-administration/cloud-computing-and-aws/
https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/

,title,content
0,Diversity Equity and Inclusion Report - Codeup,"Diversity Equity and Inclusion Report\nOct 7, ..."
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup Honored as SABJ Diversity and Inclusion...
2,How Can I Finance My Career Transition? - Codeup,How Can I Finance My Career Transition?\nSep 2...
3,Tips for Women Beginning a Career in Tech - Co...,Tips for Women Beginning a Career in Tech\nSep...
4,What is Cloud Computing and AWS? - Codeup,"What is Cloud Computing and AWS?\nSep 13, 2022..."
5,2022 SABJ C-Suite Award Winner: Stephen Notebo...,2022 SABJ C-Suite Award Winner: Stephen Notebo...

In [5]:
import acquire
import pandas as pd

In [6]:
articles = acquire.get_blog_articles()
pd.DataFrame(articles)

https://codeup.com/codeup-news/dei-report/
https://codeup.com/codeup-news/diversity-and-inclusion-award/
https://codeup.com/featured/financing-career-transition/
https://codeup.com/tips-for-prospective-students/tips-for-women/
https://codeup.com/cloud-administration/cloud-computing-and-aws/
https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/

,title,content
0,Diversity Equity and Inclusion Report - Codeup,\n\n\n\n\n\nDiversity Equity and Inclusion Rep...
1,Codeup Honored as SABJ Diversity and Inclusion...,\n\n\n\n\n\nCodeup Honored as SABJ Diversity a...
2,How Can I Finance My Career Transition? - Codeup,\n\n\n\n\n\nHow Can I Finance My Career Transi...
3,Tips for Women Beginning a Career in Tech - Co...,\n\n\n\n\n\nTips for Women Beginning a Career ...
4,What is Cloud Computing and AWS? - Codeup,\n\n\n\n\n\nWhat is Cloud Computing and AWS?\n...
5,2022 SABJ C-Suite Award Winner: Stephen Notebo...,\n\n\n\n\n\n2022 SABJ C-Suite Award Winner: St...

# News Articles

In [153]:

articles = []

home_url = 'https://inshorts.com/en/read/'
cat_list = ['technology', 'sports', 'technology', 'entertainment']
for cat in cat_list:
    response = get(home_url+cat)
    soup = BeautifulSoup(response.content, 'html.parser')    
    titles = soup.select('div.news-card-title.news-right-box')
    contents = soup.select('div.news-card-content.news-right-box')

    regexp = r'(.+?)\n\n'
    for i in range(len(titles)):
        content = re.findall(regexp, contents[i].text.strip())
        title = re.findall(regexp, titles[i].text.strip())
        articles.append({'title' : title[0], 'content' : content[0], 'category' : cat})

In [154]:
pd.DataFrame(articles)

,title,content,category
0,"Robot addresses UK Parliament, says 'Although ...",A 'robot artist' called Ai-Da interacted with ...,technology
1,Russia adds Meta to its list of 'terrorist and...,"Russia's financial monitoring agency, Rosfinmo...",technology
2,I have spoken to Putin only once and that was ...,"Elon Musk on Tuesday tweeted, ""I have spoken t...",technology
3,"Wipro's net employee addition falls to 605, at...",IT services firm Wipro on Wednesday said its n...,technology
4,Intel plans to cut thousands of jobs amid PC m...,Chipmaker Intel is planning to cut thousands o...,technology
...,...,...,...
93,'Squid Game' actor Anupam Tripathi meets Anura...,"Actor Anupam Tripathi, who played the role of ...",entertainment
94,"'Yaariyan 2' to star Priya Prakash Varrier, Me...",T-Series on Wednesday announced the sequel of ...,entertainment
95,Wholesome & cathartic experience: Ananya on 'K...,Actress Ananya Panday has wrapped up the shoot...,entertainment
96,Amitabh Bachchan is still naughty & sometimes ...,Actress Hema Malini said that veteran actor Am...,entertainment
97,Salman Khan whitewashing his toxic masculinity...,Speaking about Sajid Khan's participation in '...,entertainment

In [3]:
import acquire

In [4]:
df = acquire.get_blog_articles()
df

In [6]:
df = acquire.get_news_articles()
df

,title,content,category
0,Russia adds Meta to its list of 'terrorist and...,"Russia's financial monitoring agency, Rosfinmo...",technology
1,"Robot addresses UK Parliament, says 'Although ...",A 'robot artist' called Ai-Da interacted with ...,technology
2,I have spoken to Putin only once and that was ...,"Elon Musk on Tuesday tweeted, ""I have spoken t...",technology
3,"Wipro's net employee addition falls to 605, at...",IT services firm Wipro on Wednesday said its n...,technology
4,Infosys President Ravi Kumar S resigns,Infosys on Tuesday announced the resignation o...,technology
...,...,...,...
93,"I may not be most talented, but I'm the hardes...",Actress Janhvi Kapoor has said that people hav...,entertainment
94,It's definitely gonna blow up: Shekhar on musi...,Music composer Shekhar Ravjiani took to Twitte...,entertainment
95,"Loved Prashanth's work in 'KGF', he creates sp...",Actress Shruti Haasan praised filmmaker Prasha...,entertainment
96,Every day was difficult: Parineeti on filming ...,"Parineeti Chopra shared that ""every day was di...",entertainment
97,"Couldn't finish watching 'Bhool Bhulaiyaa 2', ...",Actress Katrina Kaif has said that she couldn'...,entertainment