# Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [7]:
import re
import pandas as pd

In [7]:
bool(re.search(r'[aeiou]', 'mary had a little lamb'))

True

In [8]:
def is_vowel(sample):
    return bool(re.search(r'[aeiou]', sample))

In [17]:
is_vowel('dog')

True

# Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [124]:
# test for first char as lowercase letter.  True = valid
bool(re.search(r'^[a-z]', 'Gis  0 is y usJKJKername'))

False

In [170]:
def is_valid_username(sample):
    return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', sample))

In [174]:
is_valid_username('hellothd343fsere')

True

# Write a regular expression to capture phone numbers. It should match all of the following:

    (210) 867 5309
    +1 210.867.5309
    867-5309
    210-867-5309

In [175]:
phone1 = '(210) 867 5309'
phone2 = '+1 210.867.5309'
phone3 = '867-5309'
phone4 = '210-867-5309'

In [180]:
numbers_df = pd.DataFrame(columns = ['country_code', 'area_code', 'first_three', 'last_four'])
numbers_df

Empty DataFrame
Columns: [country_code, area_code, first_three, last_four]
Index: []

In [233]:
# capture country code
country = re.search(r'\+[0-9]', phone2)
country[0]

'+1'

In [237]:
# capture area_code
area = re.search(r'[0-9]{3}', phone2)
area[0]

'210'

In [230]:
# get first_three
re.search(r'[0-9]{3}', phone2)

In [231]:
# get last_four
re.search(r'[0-9]{4}', phone2)

In [238]:
chop = re.compile(r"""
(?P<country_code>\+[0-9])?(\D*)?
(?P<area_code>[0-9]{3})?(\D*)?
(?P<first_three>[0-9]{3})(\D)?
(?P<last_four>[0-9]{4})
""", re.VERBOSE)

In [241]:
re.search(chop, phone1).groupdict()

{'country_code': None,
 'area_code': '210',
 'first_three': '867',
 'last_four': '5309'}

In [249]:
numbers_df.loc[len(numbers_df)] = re.search(chop, phone4).groupdict()

In [250]:
numbers_df

  country_code area_code first_three last_four
0         None       210         867      5309
1           +1       210         867      5309
2         None      None         867      5309
3         None       210         867      5309

# Use regular expressions to convert the dates below to the standardized year-month-day format.

In [87]:
datelist = [
'02/04/19',
'02/05/19',
'02/06/19',
'02/07/19',
'02/08/19',
'02/09/19',
'02/10/19']

In [89]:
def convert_date(date):
    regexp = r'\d{2}'
    dates = re.findall(regexp, date)
    dates.reverse()
    dates[0] = '20' + dates[0]
    dash = '-'
    return dash.join(dates)

In [93]:
[print(convert_date(date)) for date in datelist]

2019-04-02
2019-05-02
2019-06-02
2019-07-02
2019-08-02
2019-09-02
2019-10-02

[None, None, None, None, None, None, None]

# Write a regex to extract the various parts of these logfile lines:

In [98]:
logfile = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [215]:
regexp = r'(?P<method>[A-Z]+)\s(?P<path>.+?)\s\[(?P<date>.+?)\]\s(?P<version>.+?)\s(?P<status>{\d+})\s(?P<bytes_sent>\d+)\s(?P<user_agent>".+?")\s(?P<ip>.+)'

re.search(regexp, subject)
for log in logfile:
    print(re.findall(regexp, log))

[('GET', '/api/v1/sales?page=86', '16/Apr/2019:193452+0000', 'HTTP/1.1', '{200}', '510348', '"python-requests/2.21.0"', '97.105.19.58')]
[('POST', '/users_accounts/file-upload', '16/Apr/2019:193452+0000', 'HTTP/1.1', '{201}', '42', '"User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"', '97.105.19.58')]
[('GET', '/api/v1/items?page=3', '16/Apr/2019:193453+0000', 'HTTP/1.1', '{429}', '3561', '"python-requests/2.21.0"', '97.105.19.58')]

In [221]:
pattern = re.compile(r"""
(?P<method>[A-Z]+)\s
(?P<path>.+?)\s\[
(?P<date>.+?)\]\s
(?P<version>.+?)\s
(?P<status>{\d+})\s
(?P<bytes_sent>\d+)\s"
(?P<user_agent>.+?)"\s
(?P<ip>.+)
""", re.VERBOSE)

pattern

re.compile(r'\n(?P<method>[A-Z]+)\s\n(?P<path>.+?)\s\[\n(?P<date>.+?)\]\s\n(?P<version>.+?)\s\n(?P<status>{\d+})\s\n(?P<bytes_sent>\d+)\s"\n(?P<user_agent>.+?)"\s\n(?P<ip>.+)\n',
           re.UNICODE|re.VERBOSE)

In [222]:
extracts = [re.search(pattern,log).groupdict() for log in logfile]
extracts

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'date': '16/Apr/2019:193452+0000',
  'version': 'HTTP/1.1',
  'status': '{200}',
  'bytes_sent': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'date': '16/Apr/2019:193452+0000',
  'version': 'HTTP/1.1',
  'status': '{201}',
  'bytes_sent': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'date': '16/Apr/2019:193453+0000',
  'version': 'HTTP/1.1',
  'status': '{429}',
  'bytes_sent': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [223]:
pd.DataFrame(extracts)

,method,path,date,version,status,bytes_sent,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,{200},510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,{201},42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,{429},3561,python-requests/2.21.0,97.105.19.58