# Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [177]:
import re
import pandas as pd

In [7]:
bool(re.search(r'[aeiou]', 'mary had a little lamb'))

True

In [8]:
def is_vowel(sample):
    return bool(re.search(r'[aeiou]', sample))

In [17]:
is_vowel('dog')

True

# Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [124]:
# test for first char as lowercase letter.  True = valid
bool(re.search(r'^[a-z]', 'Gis  0 is y usJKJKername'))

False

In [170]:
def is_valid_username(sample):
    return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', sample))

In [174]:
is_valid_username('hellothd343fsere')

True

# Write a regular expression to capture phone numbers. It should match all of the following:

    (210) 867 5309
    +1 210.867.5309
    867-5309
    210-867-5309

In [175]:
phone1 = '(210) 867 5309'
phone2 = '+1 210.867.5309'
phone3 = '867-5309'
phone4 = '210-867-5309'

In [180]:
numbers_df = pd.DataFrame(columns = ['country_code', 'area_code', 'first_three', 'last_four'])
numbers_df

Empty DataFrame
Columns: [country_code, area_code, first_three, last_four]
Index: []

In [233]:
# capture country code
country = re.search(r'\+[0-9]', phone2)
country[0]

'+1'

In [237]:
# capture area_code
area = re.search(r'[0-9]{3}', phone2)
area[0]

'210'

In [230]:
# get first_three
re.search(r'[0-9]{3}', phone2)

In [231]:
# get last_four
re.search(r'[0-9]{4}', phone2)

In [238]:
chop = re.compile(r"""
(?P<country_code>\+[0-9])?(\D*)?
(?P<area_code>[0-9]{3})?(\D*)?
(?P<first_three>[0-9]{3})(\D)?
(?P<last_four>[0-9]{4})
""", re.VERBOSE)

In [241]:
re.search(chop, phone1).groupdict()

{'country_code': None,
 'area_code': '210',
 'first_three': '867',
 'last_four': '5309'}

In [249]:
numbers_df.loc[len(numbers_df)] = re.search(chop, phone4).groupdict()

In [250]:
numbers_df

  country_code area_code first_three last_four
0         None       210         867      5309
1           +1       210         867      5309
2         None      None         867      5309
3         None       210         867      5309